.app-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right bottom, #c320c8, #2919df);
  width: 100%;
  min-height: 100vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #12343b;
  box-shadow: 3px 6px 40px #000;
  width: 450px;
  min-height: 650px;
  border-radius: 10px;
  padding-inline: 25px;
  padding-block: 35px;
}

h1 {
  margin-bottom: 30px;
  color: rgb(0, 255, 0);
}

h2 {
  color: #fff;
}

.input {
  margin-right: 10px;
  font-size: 20px;
  &::placeholder {
    text-align: center;
  }
}

.input:focus {
  outline: 2px solid rgb(16, 223, 16);
}

.add-btn,
.edit-input-btn {
  color: rgb(253, 170, 3);
  cursor: pointer;
}

ul {
  list-style: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.task:has(input:checked) {
  color: #bbb;
  text-decoration: line-through;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #fff;
  margin-block: 10px;
  border-radius: 10px;
  background-color: green;
  padding-block: 3px;
  padding-inline: 8px;
}

.select-wrapper {
  margin-left: 55px;
  align-self: start;
  margin-block: 10px;
}

select {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
}

select:focus {
  outline: 2px solid rgb(16, 223, 16);
}

.delete-btn,
.edit-btn {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 25px;
}

.checkbox {
  height: 25px;
  width: 25px;
}

.checkbox:focus {
  outline: 2px solid rgb(16, 223, 16);
}

.icons-wrapper {
  display: flex;
}
